<h1> Welcome to Super Rentals </h1>

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}

{{#link-to "about"}}About Page{{/link-to}}
<br>
{{#link-to "contact"}}Contact Page{{/link-to}}
